{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container landingpage">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron">
				<img class="logo" src="{{ .Site.BaseURL }}images/gitea.png" alt="{{ .Site.Title }}">
				{{ range where .Site.Pages "Type" "jumbotron" }}
					{{ .Content }}
				{{ end }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			{{ range where .Site.Pages "Type" "easy-installation" }}
				{{ .Content }}
			{{ end }}
		</div>
		<div class="col-xs-12 col-sm-6">
			{{ range where .Site.Pages "Type" "cross-platform" }}
				{{ .Content }}
			{{ end }}
		</div>
		<div class="col-xs-12 col-sm-6">
			{{ range where .Site.Pages "Type" "lightweight" }}
				{{ .Content }}
			{{ end }}
		</div>
		<div class="col-xs-12 col-sm-6">
			{{ range where .Site.Pages "Type" "open-source" }}
				{{ .Content }}
			{{ end }}
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
